.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    width: 300px;
    height: 40px;
    background: #50b2ce;
    color: #fff;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

button::placeholder {
    opacity: 0.3;
}

button:hover {
    background: #54bbd8;
}

button:active {
    background: #5ccdec;
}

.link{
    margin-bottom: 10px;
}
