#textarea {
    padding: 15px;
    display: flex;
    width: 270px;
    height: 200px;
    background: #fff;
    color: black;
}

.others{
    display: flex;
}

.other-id {
    height: 20px;
    width: 5px;
    margin: 0 15px;
}