#textarea {
    padding: 15px;
    font-size: 20px;
    width: 270px;
    height: 200px;
    background: #fff;
    color: black;
}

.cursor{
    position: relative;
    width: 1px;
    height: 27px;
    background: blue;
}

  

.cursor::before{
    position: absolute;
    left: 0px;
    content: '';
    background: blue;
    width: 1px;
    height: 27px;
}

.others{
    display: flex;
}

.other-id {
    height: 20px;
    width: 5px;
    margin: 0 15px;
}